.container {
  max-width: 75%;
  margin: 0 auto;
}

.convert__amount-input {
  height: 34px;
  font-size: 21px;
  max-width: 200px;
  border-radius: 4px;
  padding: 1px 4px;
  margin-right: 10px;
  border: 1px solid hsl(0,0%,80%);
}

.convert__amount-input:focus {
  box-shadow: #2684FF;
  border-color: #2684FF;
}

.convert__section-inputs {
  display: inline-flex;
  align-items: center;
}

.convert__confirmation-button {
  border-radius: 4px;
  margin-left: 18px;
  height: 38px;
  padding: 0 18px;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  cursor: pointer;
  font-size: 16px;
}

.convert__separator {
  margin: 0 10px;
}

.convert__result {
  margin-top: 20px;
  padding: 20px 10px;
  border-radius: 4px;
}

.convert__result-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.convert__invalid-input {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.hint {
  font-size: 18px;
  color: #6f6f6f;
}
